<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sosa's Pizzeria</title>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix" id="header">
				<h3 class="header-phone"><i class="fas fa-phone-volume"></i>888-888-8888</h3>
				<h1 id="business-name">Sosa's Pizzeria</h1>
				<div class="header-order">
					<span class="glf-button" data-glf-cuid="cd6801cb-200c-495d-9b31-66637e177162" data-glf-ruid="ac4a6b17-c1a7-4cee-9d15-8f133982a3b3" id="glfButton0">ORDER ONLINE</span>
				</div>
				<script src="https://www.fbgcdn.com/widget/js/ewm2.js" defer async ></script>
			</header>
			<div id="tabs" class="tabs">
				<nav id="navigation-bar">
					<ul>
						<li><a href="#section-1"><i class="fas fa-home"></i><span class="mobile-removable">Home</span></a></li>
						<li><a href="#section-2"><i class="fab fa-leanpub"></i><span class="mobile-removable">Menu</span></a></li>
						<li><a href="#section-3"><i class="fas fa-money-bill-alt"></i><span class="mobile-removable">Deals</span></a></li>
						<li><a href="#section-4"><i class="fas fa-image"></i><span class="mobile-removable">Gallery</span></a></li>
						<li><a href="#section-5"><i class="fas fa-location-arrow"></i><span class="mobile-removable">Location and Hours</span></a></li>
					</ul>
				</nav>
				<div class="content">
					<section id="section-1">
						<div class="home-ordering-button">
							<span class="glf-button" data-glf-cuid="cd6801cb-200c-495d-9b31-66637e177162" data-glf-ruid="ac4a6b17-c1a7-4cee-9d15-8f133982a3b3" >View MENU & Order</span>
						</div>
						<div class="specials-holder">
							<div class="special-one">
							<p class="specials-text-size">Personal</p>
							<p class="specials-text-toppings">3-Topping</p>
							<p class="specials-text-item">Pizza</p>
							<div class="price-circle">
								<p class="specials-price-text">$5</p>
							</div>
						</div>
							<div class="special-two">
							<p class="specials-text-size">Medium</p>
							<p class="specials-text-toppings">3-Topping</p>
							<p class="specials-text-item">Pizza</p>
							<div class="price-circle">
								<p class="specials-price-text">$7</p>
							</div>
						</div>
							<div class="special-three">
							<p class="specials-text-size">Large</p>
							<p class="specials-text-toppings">3-Topping</p>
							<p class="specials-text-item">Pizza</p>
							<div class="price-circle">
								<p class="specials-price-text">$8</p>
							</div>
						</div>
						</div>
						<img class="home-image-footer" src="/static/images/main-img.png"/>
					</section>
					<section id="section-2">
						<img class="full-menu" src="/static/images/large-menu1.png" />
						<img class="full-menu" src="/static/images/large-menu2.png" />
						<img class="mini-menu" src="/static/images/small-menu.png" />
					</section>
					<section id="section-3">
						<p class="deals-paragraph">click below to view our latest promotions!</p>
						<div class="deals-order">
							<span class="glf-button" data-glf-cuid="cd6801cb-200c-495d-9b31-66637e177162" data-glf-ruid="ac4a6b17-c1a7-4cee-9d15-8f133982a3b3">View MENU & Order</span>
						</div>
					</section>
					<section id="section-4">
						<div class="gallery cf">
						  <div>
						    <img src="static/images/food-16.png" />
						  </div>
						  <div>
						    <img src="/static/images/food-15.png" />
						  </div>
							<div>
						    <img src="/static/images/food-14.png" />
						  </div>
						  <div>
						    <img src="/static/images/food-13.png"/>
						  </div>
							<div>
						    <img src="static/images/food-12.png" />
						  </div>
						  <div>
						    <img src="/static/images/food-11.png" />
						  </div>
							<div>
						    <img src="/static/images/food-10.png" />
						  </div>
						  <div>
						    <img src="/static/images/food-9.png"/>
						  </div>
							<div>
						    <img src="static/images/food-8.png" />
						  </div>
						  <div>
						    <img src="/static/images/food-7.png" />
						  </div>
							<div>
						    <img src="/static/images/food-6.png" />
						  </div>
						  <div>
						    <img src="/static/images/food-5.png"/>
						  </div>
						<div>
						    <img src="static/images/food-4.png" />
						  </div>
						  <div>
						    <img src="/static/images/food-3.png" />
						  </div>
							<div>
						    <img src="/static/images/food-2.png" />
						  </div>
						  <div>
						    <img src="/static/images/food-1.png"/>
						  </div>
						</div>
					</section>
					<section id="section-5">
						<div class="card-container">
				  		<div class="card1 card-1">
								<h3 class="container-titles">Location</h3>
								<p class="address">123 Main Street<br>City, State 12345</p>
								<p class="phone">(888)888-8888</p>
							</div>
				  		<div class="card2 card-1">
								<h3 class="container-titles">Hours</h3>
								<p class="days">Monday - Wednesday</p>
								<p class="hours">11AM - 8PM</p>
								<p class="days">Thursday - Saturday</p>
								<p class="hours">11AM - 9PM</p>
								<p class="days">Sunday</p>
								<p class="hours">Closed</p>
							</div>
						</div>
						<iframe class='google-map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d431.86523994862665!2d-95.51436012769456!3d30.010398305099987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640cce4a2042649%3A0xa960512169713237!2sSosa&#39;s+Pizzeria!5e0!3m2!1sen!2sus!4v1514517098743" frameborder="0" style="border:0" allowfullscreen></iframe>
					</section>
				</div><!-- /content -->
			</div><!-- /tabs -->
			<footer>
				<div class='footer-left'></div>
				<div class='footer-middle'>&copy 2019 Sosa's Pizzeria</div>
				<div class='footer-right'>
					<a href="https://www.facebook.com/SosasPizza/"><i class="fab fa-facebook"></i></a>
					<a href="https://www.instagram.com/sosaspizzeria/?hl=en"><i class="fab fa-instagram"></i></a>
					<a href="https://www.yelp.com/biz/sosas-pizzeria-spring"><i class="fab fa-yelp"></i></a>
				</div>
			</footer>
		</div>
		<script src="/static/cbpFWTabs.js"></script>
		<script>
			new CBPFWTabs( document.getElementById( 'tabs' ));
		</script>
	</body>
</html>
